<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="conectarIMR" value="Persist Security Info=False;User ID=sa;pwd=IMRsrvmn02;Data Source=192.168.10.36;Initial Catalog="></add>
    <add key="conectar1OK" value="Persist Security Info=False;User ID=sa;pwd=IMRsrvmn02;Data Source=192.168.10.36;Initial Catalog="></add>
    <add key="conectar1" value="Persist Security Info=False;User ID=sa;pwd=Server2018*;Data Source=DESKTOP-6Q1D00M;Initial Catalog="></add>
    <add key="Base" value="CATALOGO_Config"></add>
    <add key="Ruta_XLS" value="C:\temp\"/>
    <add key="LogPath" value="C:\temp\"/>
    <add key="GeneraLog" value="Y"/>


    <!--DESKTOP-6Q1D00M-->
    <!--<add key="conectarWeb" value="Persist Security Info=False;User ID=sa;pwd=Server2018*;Data Source=.;Initial Catalog=PRB"/>
    <add key="TimeoutWeb" value="30"/>
    <add key="QueryWeb" value="ConsultaProducto"/>-->

<add key="conectarConfig" value="Persist Security Info=False;User ID=sa;pwd=IMRsrvmn02;Data Source=192.168.10.36;Initial Catalog=CATALOGO_Config"/>

    <!--<add key="conectarSAPOriginal" value="DSN=ODBCIMRSAP32; SERVERNODE=192.168.10.22:30015; UID=SYSTEM; PWD=1MRH4n420; DATABASENAME=NDB"></add>
    <add key="conectarSAP" value="DSN=SQL_PRB; Driver={SQL Server};Server=.;Database=PRB;Uid=sa;Pwd=Server2018*;"></add>
    
    <add key="TimeoutSAP"   value="60"></add>
    <add key="QuerySAP" value="select * from ProductoSAP"/>-->
    
    
  </appSettings>
</configuration>